.container {
    position: absolute;
    top: 55px;
    background-color: #111;
    border: 1px solid #373737;
    border-radius: 3px;
    padding: 10px 0;
}

.container_closed {
    position: absolute;
    top: 55px;
    background-color: #111;
    border: 1px solid #373737;
    border-radius: 3px;
    opacity: 0;
    padding: 10px 0;
}

.menu_list {    
    display: flex;
    flex-direction: column;
    gap: 5px;
}