.container {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 36px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

.user_name {
    width: 142px;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}