.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1B1B1B;
    padding: 10px;
    border-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
    gap: 5px
}

.user_avatar {
    object-fit: cover;
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

.user_name {
    color: #fff
}

.header_right_side {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8d8d8d;
}

.refactored {
    font-size: 11px;
}

.date {
    font-size: 11px;
}

.thought_text {
    font-size: 14px;
    color: #fff;
}