.container {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: #111111;
    border-bottom: 1px solid #373737;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 954px;
    font-weight: 500;
    padding: 0 30px;
    border-radius: 3px;
}