.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.header {
    width: 100%;
}

.title {
    font-size: 19px;
    color: #fff;
}

.thoughts_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 5px 0;
}

.footer {
    display: flex;
    justify-content: center;
}

.show_more_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 22px;
    color: #13B94C;
    background-color: #0a0a0a;
    border: 1px solid #13B94C;
    border-radius: 5px;
    padding: 0 20px;
}

.show_more_btn:active {
    color: #11a745;
    background-color: #000000;
    border: 1px solid #11a745;
}